*{
    margin: 0;
    padding: 0;
}

html,body{
    font-size: 18px;
    background-color: #f5f6f7;
}

h1{
    max-width: 940px;
    font-size: 2.5em; 
    /* em significa, como un factor relativo al tamaño de la letra del contenedor */
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0;
}

.App{
    min-height: 100vh; /* el VH esto va a permitir que se adapte a la altura del navegador */
    display: flex; /* flexbox*/
    flex-wrap: wrap;  /* significa si un elemento toma todo el ancho del contenedor los otros elementos van a ubicarse debajo de el o en la siguiente linea*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-principal{
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:500px){
    h1{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        width: 375px;
        font-size: 1.5em;
    }
}